{% extends 'base.html' %}
<h1>{% block title %} News {% endblock %}</h1>

{% block content %}

<div class="container">
  <h1 class="title mt-5 mb-2">Neighbourhood Notifications</h1>
  <div class="row">
    {%if news %}
    {% for news_item in news %}
    <div class="col-md-3">
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">{{news_item['title']}}</h5>
          <p>Approval Status:
            {% if news_item['news_approval_status'] == 'approved' %}
            <span class="badge bg-success text-light">Approved</span>
            {% elif news_item['news_approval_status'] == 'rejected' %}
            <span class="badge bg-danger text-light">Rejected</span>
            {% else %}
            <span class="badge bg-warning text-light">Pending</span>
            {% endif %}
          </p>
          {% if news_item['news_approval_status'] == 'rejected' %}
          <p>Rejection Comment: {{ news_item['rejection_comment'] }}</p>
          {% endif %}

        </div>
      </div>
    </div>
    {% endfor %}
    {% else %}
    <p class="navigate-to-other-page mb-5">No notifications at the moment to display</p>
    {% endif %}
  </div>
</div>
{% endblock %}